p
{
	width: 50%;
	min-width: 400px;
}


.paragrapheAside
{
	width: 350px;
	margin: auto;
	border: 1px solid black;
	text-align: justify;
	padding: 10px
	margin-bottom: 20px;
}

.paragrapheArticle
{
	width: 250px;
	height: 110px;
	text-align: justify;
	border: 1px solid black;
	overflow: auto;
}

nav
{
	display: inline-block;
	border: 1px solid black;
	width: auto;
	position: absolute;
	background-color: green;
	color: white;
	font-style: bold;
}

section
{
	display: inline-block;
	border: 1px solid black;
}

element
{
	position: absolute;
	bottom: 0;
	height: 0;
}

element1
{
	position: absolute;
	bottom: 30px;
	height: 0;
}

element2
{
	position: fixed;
}

strong
{
	color: yellow;
	background-color: red;
	position: absolute;
	margin-left: 55px;
	margin-top: 10px;
}

a
{
	color: white;
}

a:hover
{
	color: red;
	font-size: 120%;
}